In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "makh impex.xlsx"

In [3]:
def get_balance_sheet(file):
    dict_df = pd.read_excel(file, sheet_name=['СБД','ОДТ'])
    balance_df = dict_df.get('СБД')
    return balance_df

In [4]:
balance_df = get_balance_sheet(file)

In [5]:
def get_income_sheet(file):
    dict_df = pd.read_excel(file, sheet_name=['СБД','ОДТ'])
    income_df = dict_df.get('ОДТ')
    return income_df

In [6]:
income_df = get_income_sheet(file)

In [7]:
balance_df.head()

,Байгууллагын нэр: Махимпэкс,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Регистр: 2069229,NaN,NaN,NaN,NaN
1,NaN,САНХҮҮ БАЙДЛЫН ТАЙЛАН,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,/Мянган төгрөг/
3,NaN,№,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
4,NaN,1,ХӨРӨНГӨ,0,0

In [8]:
income_df.head()

,Байгууллагын нэр: Махимпэкс,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Регистр: 2069229,NaN,NaN,NaN,NaN
1,NaN,ОРЛОГЫН ДЭЛГЭРЭНГҮЙ ТАЙЛАН,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,/Мянган төгрөг/
3,NaN,№,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
4,NaN,1,Борлуулалтын орлого (цэвэр),49176616.3,17030458.1

In [9]:
items_dict = {'Мөнгө,түүнтэй адилтгах хөрөнгө': 'Cash and cash equivalents','Дансны авлага':'Accounts receivables',
             'Татвар, НДШ – ийн авлага':'Tax receivables','Бусад авлага':'Other receivables','Бусад санхүүгийн хөрөнгө':'Other short-term asset',
             'Бараа материал':'Inventory','Урьдчилж төлсөн зардал/тооцоо':'Prepaid expense','Бусад эргэлтийн хөрөнгө':'Other current asset',
             'Борлуулах зорилгоор эзэмшиж буй эргэлтийн бус хөрөнгө (борлуулах бүлэг хөрөнгө)':'SDS', 'Эргэлтийн хөрөнгийн дүн':'Total current assets',
              'Үндсэн хөрөнгө':'PPE','Биет бус хөрөнгө':'Intangible asset','Биологийн хөрөнгө':'Biological asset',
              'Урт хугацаат  хөрөнгө оруулалт':'Long-term investment','Хойшлогдсон татварын хөрөнгө':'Deferred tax',
              'Бусад эргэлтийн бус хөрөнгө':'Other non-current asset','Эргэлтийн бус хөрөнгийн дүн':'Total non-current asset',
              'Нийт хөрөнгийн дүн':'Total asset','Дансны өглөг':'Accounts payable','Цалингийн  өглөг':'Salaries payable','Татварын өр':'Tax payable',
              'НДШ - ийн  өглөг':'Social securities payable','Богино хугацаат зээл':'Short-term debt','Хүүний  өглөг':'Interest payable',
              'Ногдол ашгийн  өглөг':'Dividend payable','Урьдчилж орсон орлого':'Unearned revenue','Бусад богино хугацаат өр төлбөр':'Other short-term liabilities',
              'Богино хугацаат өр төлбөрийн дүн':'Total current liabilities','Урт хугацаат зээл':'Long-term debt','Хойшлогдсон татварын өр':'Deferred income tax',
              'Бусад урт хугацаат өр төлбөр':'Other long-term liabilities','Урт хугацаат өр төлбөрийн дүн':'Total long-term liabilities',
              'Өр төлбөрийн нийт дүн':'Total liabilities','Өмч':'Equity','    -хувийн':'Common stock',
              'Хөрөнгийн дахин үнэлгээний нэмэгдэл':'Diluted stocks','Хуримтлагдсан ашиг':'Retained earnings','Эздийн өмчийн дүн':'Stockholders equity',
              'Борлуулалтын орлого (цэвэр)':'Revenue/sales', 'Борлуулалтын өртөг': 'COGS', 'Нийт ашиг ( алдагдал)': 'Gross profit', 'Түрээсийн орлого':'Rent income', 
              'Хүүний орлого':'Interest income', 'Ногдол ашгийн орлого':'Dividend income', 'Бусад орлого':'Other income',
              'Борлуулалт, маркетингийн зардал':'Sales, marketing expense', 'Ерөнхий ба удирдлагын зардал':'General, admin expense',
              'Санхүүгийн зардал':'Finance expense', 'Бусад зардал':'Other expense', 'Гадаад валютын ханшийн зөрүүний  олз (гарз)':'Currency exchange gain/loss',
              'Үндсэн хөрөнгө данснаас хассаны олз (гарз)':'Sales of long term assets gain/ loss','Биет бус хөрөнгө данснаас хассаны олз (гарз)':'Sales of non-current assets gain / loss',
              'Хөрөнгө оруулалт борлуулснаас үүссэн  олз (гарз)':'Investment gain/ loss', 'Татвар төлөхийн өмнөх  ашиг (алдагдал)':'EBT',
              'Орлогын татварын зардал':'Income tax', 'Тайлант үеийн цэвэр ашиг ( алдагдал)':'Net income'}

# Dataframe cleaning balance sheet

In [10]:
balance_df.head()

,Байгууллагын нэр: Махимпэкс,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Регистр: 2069229,NaN,NaN,NaN,NaN
1,NaN,САНХҮҮ БАЙДЛЫН ТАЙЛАН,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,/Мянган төгрөг/
3,NaN,№,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
4,NaN,1,ХӨРӨНГӨ,0,0

In [11]:
balance_df = balance_df.drop(balance_df.iloc[:, :2], axis=1)

In [12]:
balance_df = balance_df.dropna()

In [13]:
balance_df = balance_df.reset_index(drop=True)

In [14]:
balance_df = balance_df.rename(columns={"Unnamed: 2":"Items","Unnamed: 3":"Previous","Unnamed: 4":"Current"})

In [15]:
balance_df = balance_df.drop(balance_df.index[:3]).reset_index(drop=True)

In [16]:
balance_df

                                                Items    Previous     Current
0                      Мөнгө,түүнтэй адилтгах хөрөнгө   1325553.9    201888.2
1                                       Дансны авлага  11539999.1  14536542.5
2                            Татвар, НДШ – ийн авлага    602990.4    524077.2
3                                        Бусад авлага           0           0
4                            Бусад санхүүгийн хөрөнгө           0           0
5                                      Бараа материал  12910944.8   7972010.5
6                       Урьдчилж төлсөн зардал/тооцоо        88.6      2038.7
7                             Бусад эргэлтийн хөрөнгө           0           0
8   Борлуулах зорилгоор эзэмшиж буй эргэлтийн бус ...           0           0
9                             Эргэлтийн хөрөнгийн дүн  26379576.8  23236557.1
10                              Эргэлтийн бус хөрөнгө           0           0
11                                     Үндсэн хөрөнгө   2834360.7   3106204.4
12                                   Биет бус хөрөнгө      4810.3      4810.3
13                                  Биологийн хөрөнгө           0           0
14                     Урт хугацаат  хөрөнгө оруулалт           0           0
15                      Хайгуул ба үнэлгээний хөрөнгө           0           0
16                       Хойшлогдсон татварын хөрөнгө           0           0
17  Хөрөнгө оруулалтын зориулалттай үл хөдлөх хөрөнгө           0           0
18                        Бусад эргэлтийн бус хөрөнгө           0           0
19                        Эргэлтийн бус хөрөнгийн дүн     2839171   3111014.7
20                                 Нийт хөрөнгийн дүн  29218747.8  26347571.8
21                            ӨР ТӨЛБӨР БА ЭЗДИЙН ӨМЧ           0           0
22                                          ӨР ТӨЛБӨР           0           0
23                          БОГИНО ХУГАЦААТ ӨР ТӨЛБӨР           0           0
24                                       Дансны өглөг  22726905.6  19622619.2
25                                   Цалингийн  өглөг     75084.3     57735.5
26                                        Татварын өр    124604.6     71167.9
27                                   НДШ - ийн  өглөг     40812.6     18756.2
28                               Богино хугацаат зээл           0           0
29                                      Хүүний  өглөг           0           0
30                               Ногдол ашгийн  өглөг     1198755     1154371
31                              Урьдчилж орсон орлого           0           0
32                                  Нөөц  /өр төлбөр/           0           0
33                    Бусад богино хугацаат өр төлбөр     37165.6     40096.1
34  Борлуулах зорилгоор эзэмшиж буй бүлэг хөрөнгөн...           0           0
35                   Богино хугацаат өр төлбөрийн дүн  24203327.7  20964745.9
36                             УРТ ХУГАЦААТ ӨР ТӨЛБӨР           0           0
37                                  Урт хугацаат зээл           0           0
38                                   Нөөц /өр төлбөр/           0           0
39                            Хойшлогдсон татварын өр           0           0
40                       Бусад урт хугацаат өр төлбөр           0           0
41                      Урт хугацаат өр төлбөрийн дүн           0           0
42                              Өр төлбөрийн нийт дүн  24203327.7  20964745.9
43                                         ЭЗДИЙН ӨМЧ           0           0
44                                                Өмч    377820.9    377820.9
45                                            -төрийн           0           0
46                                            -хувийн    377820.9    377820.9
47                                          -хувьцаат           0           0
48                                   Халаасны хувьцаа           0           0
49                             Нэмж төлөгдсөн капитал           0           0
50                Хөрөнгийн дахин үнэлгээний нэмэгдэл     1402398     1402398
51                  Гадаад валютын хөрвүүлэлтийн нөөц           0           0
52                          Эздийн өмчийн бусад хэсэг           0           0
53                                 Хуримтлагдсан ашиг   3235201.2     3602607
54                                  Эздийн өмчийн дүн   5015420.1   5382825.9
55                     Өр төлбөр ба эздийн өмчийн дүн  29218747.8  26347571.8

In [17]:
bs_dict = pd.read_csv('balance_dict.csv')

In [18]:
#hu = bs_dict.to_dict('index')

In [19]:
#df2=balance_df.replace({"Items": items_dict})

In [20]:
balance_df['Items'].unique()

array(['Мөнгө,түүнтэй адилтгах хөрөнгө', 'Дансны авлага',
       'Татвар, НДШ – ийн авлага', 'Бусад авлага',
       'Бусад санхүүгийн хөрөнгө', 'Бараа материал',
       'Урьдчилж төлсөн зардал/тооцоо', 'Бусад эргэлтийн хөрөнгө',
       'Борлуулах зорилгоор эзэмшиж буй эргэлтийн бус хөрөнгө (борлуулах бүлэг хөрөнгө)',
       'Эргэлтийн хөрөнгийн дүн', 'Эргэлтийн бус хөрөнгө',
       'Үндсэн хөрөнгө', 'Биет бус хөрөнгө', 'Биологийн хөрөнгө',
       'Урт хугацаат  хөрөнгө оруулалт', 'Хайгуул ба үнэлгээний хөрөнгө',
       'Хойшлогдсон татварын хөрөнгө',
       'Хөрөнгө оруулалтын зориулалттай үл хөдлөх хөрөнгө',
       'Бусад эргэлтийн бус хөрөнгө', 'Эргэлтийн бус хөрөнгийн дүн',
       'Нийт хөрөнгийн дүн', 'ӨР ТӨЛБӨР БА ЭЗДИЙН ӨМЧ', 'ӨР ТӨЛБӨР',
       'БОГИНО ХУГАЦААТ ӨР ТӨЛБӨР', 'Дансны өглөг', 'Цалингийн  өглөг',
       'Татварын өр', 'НДШ - ийн  өглөг', 'Богино хугацаат зээл',
       'Хүүний  өглөг', 'Ногдол ашгийн  өглөг', 'Урьдчилж орсон орлого',
       'Нөөц  /өр төлбөр/', 'Бусад богино хугацаат өр төлбөр',
       'Борлуулах зорилгоор эзэмшиж буй бүлэг хөрөнгөнд хамаарах өр төлбөр',
       'Богино хугацаат өр төлбөрийн дүн', 'УРТ ХУГАЦААТ ӨР ТӨЛБӨР',
       'Урт хугацаат зээл', 'Нөөц /өр төлбөр/', 'Хойшлогдсон татварын өр',
       'Бусад урт хугацаат өр төлбөр', 'Урт хугацаат өр төлбөрийн дүн',
       'Өр төлбөрийн нийт дүн', 'ЭЗДИЙН ӨМЧ', 'Өмч', '-төрийн',
       '    -хувийн', '    -хувьцаат', 'Халаасны хувьцаа',
       'Нэмж төлөгдсөн капитал', 'Хөрөнгийн дахин үнэлгээний нэмэгдэл',
       'Гадаад валютын хөрвүүлэлтийн нөөц', 'Эздийн өмчийн бусад хэсэг',
       'Хуримтлагдсан ашиг', 'Эздийн өмчийн дүн',
       'Өр төлбөр ба эздийн өмчийн дүн'], dtype=object)

In [21]:
mask = balance_df['Items'].isin(bs_dict['Mongolian'])

In [22]:
balance_df = balance_df.loc[mask].reset_index(drop=True)

In [23]:
balance_df.head()

                            Items    Previous     Current
0  Мөнгө,түүнтэй адилтгах хөрөнгө   1325553.9    201888.2
1                   Дансны авлага  11539999.1  14536542.5
2        Татвар, НДШ – ийн авлага    602990.4    524077.2
3                    Бусад авлага           0           0
4        Бусад санхүүгийн хөрөнгө           0           0

In [24]:
balance_df = balance_df.replace({"Items": items_dict})

In [25]:
balance_df

                           Items    Previous     Current
0      Cash and cash equivalents   1325553.9    201888.2
1           Accounts receivables  11539999.1  14536542.5
2                Tax receivables    602990.4    524077.2
3              Other receivables           0           0
4         Other short-term asset           0           0
5                      Inventory  12910944.8   7972010.5
6                Prepaid expense        88.6      2038.7
7            Other current asset           0           0
8                            SDS           0           0
9           Total current assets  26379576.8  23236557.1
10                           PPE   2834360.7   3106204.4
11              Intangible asset      4810.3      4810.3
12              Biological asset           0           0
13          Long-term investment           0           0
14                  Deferred tax           0           0
15       Other non-current asset           0           0
16       Total non-current asset     2839171   3111014.7
17                   Total asset  29218747.8  26347571.8
18              Accounts payable  22726905.6  19622619.2
19              Salaries payable     75084.3     57735.5
20                   Tax payable    124604.6     71167.9
21     Social securities payable     40812.6     18756.2
22               Short-term debt           0           0
23              Interest payable           0           0
24              Dividend payable     1198755     1154371
25              Unearned revenue           0           0
26  Other short-term liabilities     37165.6     40096.1
27     Total current liabilities  24203327.7  20964745.9
28                Long-term debt           0           0
29           Deferred income tax           0           0
30   Other long-term liabilities           0           0
31   Total long-term liabilities           0           0
32             Total liabilities  24203327.7  20964745.9
33                        Equity    377820.9    377820.9
34                  Common stock    377820.9    377820.9
35                Diluted stocks     1402398     1402398
36             Retained earnings   3235201.2     3602607
37           Stockholders equity   5015420.1   5382825.9

In [26]:
balance_df['Previous'] = balance_df['Previous'].astype(int)
balance_df['Current'] = balance_df['Current'].astype(int)

In [27]:
balance_df.to_csv('balance_sheet.csv', index=False)

# Income statement df cleaning

In [28]:
income_df

,Байгууллагын нэр: Махимпэкс,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Регистр: 2069229,NaN,NaN,NaN,NaN
1,NaN,ОРЛОГЫН ДЭЛГЭРЭНГҮЙ ТАЙЛАН,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,/Мянган төгрөг/
3,NaN,№,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
4,NaN,1,Борлуулалтын орлого (цэвэр),49176616.3,17030458.1
5,NaN,2,Борлуулалтын өртөг,47641973.2,16827391.6
6,NaN,3,Нийт ашиг ( алдагдал),1534643.1,203066.5
7,NaN,4,Түрээсийн орлого,0,0
8,NaN,5,Хүүний орлого,0,0
9,NaN,6,Ногдол ашгийн орлого,0,0
10,NaN,7,Эрхийн шимтгэлийн орлого,0,0
11,NaN,8,Бусад орлого,2015126.5,1922904.4
12,NaN,9,"Борлуулалт, маркетингийн зардал",190438.1,101173.9
13,NaN,10,Ерөнхий ба удирдлагын зардал,762567.9,444750.5
14,NaN,11,Санхүүгийн зардал,0,0
15,NaN,12,Бусад зардал,1043460.8,1171817.8
16,NaN,13,Гадаад валютын ханшийн зөрүүний олз (гарз),0,0
17,NaN,14,Үндсэн хөрөнгө данснаас хассаны олз (гарз),-18737,0
18,NaN,15,Биет бус хөрөнгө данснаас хассаны олз (гарз),0,0
19,NaN,16,Хөрөнгө оруулалт борлуулснаас үүссэн олз (гарз),0,0
20,NaN,17,Бусад ашиг ( алдагдал),0,0
21,NaN,18,Татвар төлөхийн өмнөх ашиг (алдагдал),1534565.8,408228.7
22,NaN,19,Орлогын татварын зардал,165541,40822.9
23,NaN,20,Татварын дараахь ашиг (алдагдал),1369024.8,367405.8
24,NaN,21,Зогсоосон үйл ажиллагааны татварын дараах ашиг...,0,0
25,NaN,22,Тайлант үеийн цэвэр ашиг ( алдагдал),1369024.8,367405.8
26,NaN,23,Бусад дэлгэрэнгүй орлого,0,0
27,NaN,23.1,Хөрөнгийн дахин үнэлгээний нэмэгдлийн зөрүү,0,0
28,NaN,23.2,Гадаад валютын хөрвүүлэлтийн зөрүү,0,0
29,NaN,23.3,Бусад олз (гарз),0,0
30,NaN,24,Орлогын нийт дүн,1369024.8,367405.8
31,NaN,25,Нэгж хувьцаанд ногдох суурь ашиг (алдагдал),0,0
32,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,Захирал ....................... /Г.Бүдрагчаа/
34,NaN,NaN,NaN,NaN,Нягтлан бодогч ....................... /С.Батсүх/

In [29]:
income_df = income_df.drop(income_df.iloc[:, :2], axis=1)

In [30]:
income_df

,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,/Мянган төгрөг/
3,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
4,Борлуулалтын орлого (цэвэр),49176616.3,17030458.1
5,Борлуулалтын өртөг,47641973.2,16827391.6
6,Нийт ашиг ( алдагдал),1534643.1,203066.5
7,Түрээсийн орлого,0,0
8,Хүүний орлого,0,0
9,Ногдол ашгийн орлого,0,0
10,Эрхийн шимтгэлийн орлого,0,0
11,Бусад орлого,2015126.5,1922904.4
12,"Борлуулалт, маркетингийн зардал",190438.1,101173.9
13,Ерөнхий ба удирдлагын зардал,762567.9,444750.5
14,Санхүүгийн зардал,0,0
15,Бусад зардал,1043460.8,1171817.8
16,Гадаад валютын ханшийн зөрүүний олз (гарз),0,0
17,Үндсэн хөрөнгө данснаас хассаны олз (гарз),-18737,0
18,Биет бус хөрөнгө данснаас хассаны олз (гарз),0,0
19,Хөрөнгө оруулалт борлуулснаас үүссэн олз (гарз),0,0
20,Бусад ашиг ( алдагдал),0,0
21,Татвар төлөхийн өмнөх ашиг (алдагдал),1534565.8,408228.7
22,Орлогын татварын зардал,165541,40822.9
23,Татварын дараахь ашиг (алдагдал),1369024.8,367405.8
24,Зогсоосон үйл ажиллагааны татварын дараах ашиг...,0,0
25,Тайлант үеийн цэвэр ашиг ( алдагдал),1369024.8,367405.8
26,Бусад дэлгэрэнгүй орлого,0,0
27,Хөрөнгийн дахин үнэлгээний нэмэгдлийн зөрүү,0,0
28,Гадаад валютын хөрвүүлэлтийн зөрүү,0,0
29,Бусад олз (гарз),0,0
30,Орлогын нийт дүн,1369024.8,367405.8
31,Нэгж хувьцаанд ногдох суурь ашиг (алдагдал),0,0
32,NaN,NaN,NaN
33,NaN,NaN,Захирал ....................... /Г.Бүдрагчаа/
34,NaN,NaN,Нягтлан бодогч ....................... /С.Батсүх/

In [31]:
income_df = income_df.dropna()

In [32]:
income_df = income_df.reset_index(drop=True)

In [33]:
income_df

,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Үзүүлэлт,Эхний үлдэгдэл,Эцсийн үлдэгдэл
1,Борлуулалтын орлого (цэвэр),49176616.3,17030458.1
2,Борлуулалтын өртөг,47641973.2,16827391.6
3,Нийт ашиг ( алдагдал),1534643.1,203066.5
4,Түрээсийн орлого,0,0
5,Хүүний орлого,0,0
6,Ногдол ашгийн орлого,0,0
7,Эрхийн шимтгэлийн орлого,0,0
8,Бусад орлого,2015126.5,1922904.4
9,"Борлуулалт, маркетингийн зардал",190438.1,101173.9
10,Ерөнхий ба удирдлагын зардал,762567.9,444750.5
11,Санхүүгийн зардал,0,0
12,Бусад зардал,1043460.8,1171817.8
13,Гадаад валютын ханшийн зөрүүний олз (гарз),0,0
14,Үндсэн хөрөнгө данснаас хассаны олз (гарз),-18737,0
15,Биет бус хөрөнгө данснаас хассаны олз (гарз),0,0
16,Хөрөнгө оруулалт борлуулснаас үүссэн олз (гарз),0,0
17,Бусад ашиг ( алдагдал),0,0
18,Татвар төлөхийн өмнөх ашиг (алдагдал),1534565.8,408228.7
19,Орлогын татварын зардал,165541,40822.9
20,Татварын дараахь ашиг (алдагдал),1369024.8,367405.8
21,Зогсоосон үйл ажиллагааны татварын дараах ашиг...,0,0
22,Тайлант үеийн цэвэр ашиг ( алдагдал),1369024.8,367405.8
23,Бусад дэлгэрэнгүй орлого,0,0
24,Хөрөнгийн дахин үнэлгээний нэмэгдлийн зөрүү,0,0
25,Гадаад валютын хөрвүүлэлтийн зөрүү,0,0
26,Бусад олз (гарз),0,0
27,Орлогын нийт дүн,1369024.8,367405.8
28,Нэгж хувьцаанд ногдох суурь ашиг (алдагдал),0,0

In [34]:
income_df = income_df.rename(columns={"Unnamed: 2":"Items","Unnamed: 3":"Previous","Unnamed: 4":"Current"})

In [35]:
income_df = income_df.drop(balance_df.index[:1]).reset_index(drop=True)

In [36]:
income_df

                                                Items    Previous     Current
0                         Борлуулалтын орлого (цэвэр)  49176616.3  17030458.1
1                                  Борлуулалтын өртөг  47641973.2  16827391.6
2                               Нийт ашиг ( алдагдал)   1534643.1    203066.5
3                                    Түрээсийн орлого           0           0
4                                       Хүүний орлого           0           0
5                                Ногдол ашгийн орлого           0           0
6                            Эрхийн шимтгэлийн орлого           0           0
7                                        Бусад орлого   2015126.5   1922904.4
8                     Борлуулалт, маркетингийн зардал    190438.1    101173.9
9                        Ерөнхий ба удирдлагын зардал    762567.9    444750.5
10                                  Санхүүгийн зардал           0           0
11                                       Бусад зардал   1043460.8   1171817.8
12        Гадаад валютын ханшийн зөрүүний  олз (гарз)           0           0
13         Үндсэн хөрөнгө данснаас хассаны олз (гарз)      -18737           0
14       Биет бус хөрөнгө данснаас хассаны олз (гарз)           0           0
15   Хөрөнгө оруулалт борлуулснаас үүссэн  олз (гарз)           0           0
16                             Бусад ашиг ( алдагдал)           0           0
17             Татвар төлөхийн өмнөх  ашиг (алдагдал)   1534565.8    408228.7
18                            Орлогын татварын зардал      165541     40822.9
19                   Татварын дараахь ашиг (алдагдал)   1369024.8    367405.8
20  Зогсоосон үйл ажиллагааны татварын дараах ашиг...           0           0
21               Тайлант үеийн цэвэр ашиг ( алдагдал)   1369024.8    367405.8
22                           Бусад дэлгэрэнгүй орлого           0           0
23        Хөрөнгийн дахин үнэлгээний нэмэгдлийн зөрүү           0           0
24                 Гадаад валютын хөрвүүлэлтийн зөрүү           0           0
25                                  Бусад  олз (гарз)           0           0
26                                   Орлогын нийт дүн   1369024.8    367405.8
27        Нэгж хувьцаанд ногдох суурь ашиг (алдагдал)           0           0

In [37]:
is_dict = pd.read_csv("income_dict.csv")

In [38]:
mask1 = income_df['Items'].isin(is_dict['Mongolian'])

In [39]:
income_df = income_df.loc[mask1].reset_index(drop=True)

In [40]:
income_df

                                               Items    Previous     Current
0                        Борлуулалтын орлого (цэвэр)  49176616.3  17030458.1
1                                 Борлуулалтын өртөг  47641973.2  16827391.6
2                              Нийт ашиг ( алдагдал)   1534643.1    203066.5
3                                   Түрээсийн орлого           0           0
4                                      Хүүний орлого           0           0
5                               Ногдол ашгийн орлого           0           0
6                                       Бусад орлого   2015126.5   1922904.4
7                    Борлуулалт, маркетингийн зардал    190438.1    101173.9
8                       Ерөнхий ба удирдлагын зардал    762567.9    444750.5
9                                  Санхүүгийн зардал           0           0
10                                      Бусад зардал   1043460.8   1171817.8
11       Гадаад валютын ханшийн зөрүүний  олз (гарз)           0           0
12        Үндсэн хөрөнгө данснаас хассаны олз (гарз)      -18737           0
13      Биет бус хөрөнгө данснаас хассаны олз (гарз)           0           0
14  Хөрөнгө оруулалт борлуулснаас үүссэн  олз (гарз)           0           0
15            Татвар төлөхийн өмнөх  ашиг (алдагдал)   1534565.8    408228.7
16                           Орлогын татварын зардал      165541     40822.9
17              Тайлант үеийн цэвэр ашиг ( алдагдал)   1369024.8    367405.8

In [41]:
income_df['Items'].unique()

array(['Борлуулалтын орлого (цэвэр)', 'Борлуулалтын өртөг',
       'Нийт ашиг ( алдагдал)', 'Түрээсийн орлого', 'Хүүний орлого',
       'Ногдол ашгийн орлого', 'Бусад орлого',
       'Борлуулалт, маркетингийн зардал', 'Ерөнхий ба удирдлагын зардал',
       'Санхүүгийн зардал', 'Бусад зардал',
       'Гадаад валютын ханшийн зөрүүний  олз (гарз)',
       'Үндсэн хөрөнгө данснаас хассаны олз (гарз)',
       'Биет бус хөрөнгө данснаас хассаны олз (гарз)',
       'Хөрөнгө оруулалт борлуулснаас үүссэн  олз (гарз)',
       'Татвар төлөхийн өмнөх  ашиг (алдагдал)',
       'Орлогын татварын зардал', 'Тайлант үеийн цэвэр ашиг ( алдагдал)'],
      dtype=object)

In [42]:
income_df = income_df.replace({"Items": items_dict})

In [43]:
income_df

                                      Items    Previous     Current
0                             Revenue/sales  49176616.3  17030458.1
1                                      COGS  47641973.2  16827391.6
2                              Gross profit   1534643.1    203066.5
3                               Rent income           0           0
4                           Interest income           0           0
5                           Dividend income           0           0
6                              Other income   2015126.5   1922904.4
7                  Sales, marketing expense    190438.1    101173.9
8                    General, admin expense    762567.9    444750.5
9                           Finance expense           0           0
10                            Other expense   1043460.8   1171817.8
11              Currency exchange gain/loss           0           0
12     Sales of long term assets gain/ loss      -18737           0
13  Sales of non-current assets gain / loss           0           0
14                    Investment gain/ loss           0           0
15                                      EBT   1534565.8    408228.7
16                               Income tax      165541     40822.9
17                               Net income   1369024.8    367405.8

In [44]:
income_df['Previous'] = income_df['Previous'].astype(int)
income_df['Current'] = income_df['Current'].astype(int)

In [45]:
income_df.to_csv('income_sheet.csv', index=False)